.container-fluid {
	padding: 0 150px;
}

.circle {
	width: 50px;
	height: 50px;
	background-color: #5995fd;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.flex {
	display: flex;
	justify-content: space-around;
}
